*{  /*Configuracao global de estilizacao*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


header{ /*estilo do cabecalho*/
    padding: 40px 4%;
}


body{
    background-color: #000;
    height: 100vh;
}

.flex{
    display: flex;
}

.interface{
    max-height: 1280px;
    margin: 0 auto;
}
h2.titulo{
    color: white;
    font-size: 36px;
    text-align: center;
}

h2.titulo span{
    color: red;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgba(182, 0, 0, 0.904) ;
    border: 0;
    cursor: pointer;
    border-radius: 10px;
    transition: .5s;
} 

button:hover{
    box-shadow: 0px 0px 1rem #ff3838;
    transform: scale(1.0);
}


/*CONFGI HEADER*/
header > .interface{
    display: flex;
    align-content: center;
    justify-content: space-between;
}

header a{
    color: rgb(124, 124, 124);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #fff;
    transform: scale(1.10);
}

header nav ul{
    list-style-type: none
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}




header img{
    max-width: 200px;
}

/*Estilo do topo do site*/
section.top-site{
    padding: 40px 4%;

}

section.top-site .flex{
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.top-site .txt-Site h1{
    color: white;
    font-size: 40px;
    line-height: 40px;
}

.top-site .txt-Site h1 span{
    color: #920000;
}

.top-site .txt-Site p{
    color: white;
    margin: 40px 0px;
}

#homelander{ /*Sombra da imagem*/
    filter: drop-shadow(0  0 2rem #580b01);
} 


.top-site .img-Top img{ /*adicionando a animacao da img*/
    position: relative;
    animation: imgflutuar 2s ease-in-out infinite alternate;
}

@keyframes imgflutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/*Estilos das especialidades*/
section.especialidades{
    padding: 40px 4%;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .esp-box{
    color: white;
    padding: 40px;
    margin-top: 44px;
    border-radius: 20px;
    transition: .2s;
}

.especialidades .esp-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.336);
}

.especialidades .esp-box img{ /*Config icone */
    width: 75px;
    color: white;
    background-color: rgba(255, 255, 255, 0.849);
    border-radius: 10px;
    padding: 5px;
}

.especialidades .esp-box h3{
    font-size: 26px;
    margin: 15px 0px;
}

/*ESTILO SOBRE*/

section.sobre{
    padding: 80px 4%;
    filter: drop-shadow(0  0 2rem #ff1e0069);
}

section.sobre img{
    width: 350px;
    border-radius: 30px;
    margin-left: 50px;
}


section.sobre .flex{
    align-items: center;
    gap: 70px;
}


.sobre .txt-sobre{
    color: white;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 42px;
    margin-bottom: 27px;
}

.sobre .txt-sobre h2 span{
    color: red;
    display: block;
}

.sobre .txt-sobre p {
    margin: 22px 0;
    text-align: justify;
}

.sobre .txt-sobre .btn-social a{
    text-decoration: none;
}

.sobre .txt-sobre .btn-social img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.849);
    padding: 10px;
    transition: .1s;
}

.sobre .txt-sobre .btn-social img:hover{
    box-shadow: 0 10 red;
    transform: scale(1.10);
}

/*ESTIlo DO PORTFOLIo*/

section.portfolio{
    padding: 90px 4%;
    box-shadow: 0 0 42px 10px #ffffff31;
}